<li><%= link_to "About us",  pages_about_us_path  %></li>
<% if current_user && current_user.driver? %>
<li><%= link_to "FAQ", pages_faq_path  %></li>
<% end %>
<li><%= link_to "TOS", pages_tos_path  %></li>
<li><%= link_to "Contact us", pages_contact_us_path  %></li>

<% if current_user && current_user.user? %>
    <li><%= link_to "My Services", services_path  %></li>
<% end %>
<% if current_user && current_user.driver? %>
    <li><%= link_to "History Services", pages_historyservicies_path  %></li>
    <li><%= link_to "Pending Services", pages_pending_services_path  %></li>
<% end %>
<% if current_user && current_user.operator? %>
    <li><%= link_to "Panel Admin", rails_admin_path  %></li>
    <li><%= link_to "Services", services_path  %></li>
<% end %>