<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :first_name%>
    <br />
    <%= f.input :last_name %>
    <br />
    <%= f.input :born_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
