<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if current_user && current_user.user? %>
      <%= f.input :from %>
      <%= f.input :to %>
      <%= f.input :day %>
      <%= f.input :qPassengers %>
    <% end %>
    <%= f.input :tipoVehiculo, collection: ['Sedan','Minivan'], :selected => @service.tipoVehiculo %>
    <% if current_user && current_user.operator? %>
      
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit ,'Request Service',  :class =>'btn btn-primary'%>
  </div>
<% end %>
