<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :from %>
    <%= f.input :to %>
    <%= f.input :day %>
    <%= f.input :qPassengers %>
    <%= f.input :tipoVehiculo, collection: ['Sedan','Minivan'], :selected => @service.tipoVehiculo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
