<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if current_user && current_user.user? %>
      <%= f.input :from %>
      <%= f.input :to %>
      <%= f.input :day %>
      <%= f.input :qPassengers %>
      <%= f.input :tipoVehiculo, collection: ['Sedan','Minivan'], :selected => @service.tipoVehiculo %>
    <% end %>
    
    <% if current_user && current_user.operator? %>
    <label class="select optional">Select Driver</label>
      <%= f.collection_select(:driver, User.where(role: 2 ), :id, :friendly_name ) %>
    <% end %>
    </BR>
    </BR>
    <p>
      <strong style="font-size: 20px;">Cost:</strong>
      <strong style="font-size: 30px;">S/. <%= @service.amount %></strong>
    </P>
  </div>

  <div class="form-actions">
    <% if current_user && current_user.user? %>
      <%= f.button :submit ,'Estimate Service (S/.)',  :class =>'btn btn-primary'%>
    <% else %>
      <%= f.button :submit ,'Save',  :class =>'btn btn-primary'%>
    <% end %>
  </div>
<% end %>
