<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @service.from %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @service.to %>
</p>

<p>
  <strong>Date:</strong>
  <%= @service.day %>
</p>

<p>
  <strong>Passengers:</strong>
  <%= @service.qPassengers %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @service.tipoVehiculo %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
