<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @service.from %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @service.to %>
</p>

<p>
  <strong>Date:</strong>
  <%= @service.day %>
</p>

<p>
  <strong>Passengers:</strong>
  <%= @service.qPassengers %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @service.tipoVehiculo %>
</p>

<p>
  <strong style="font-size: 20px;">Cost:</strong>
  <strong style="font-size: 30px;">S/. <%= @service.amount %></strong>
</P>
</P>
</P>
        <td>
          <%= link_to t('.confirm', :default => 'Agree, I confirm'),
                      confirm_service_path(@service),
                      :class => 'btn btn-success' %>
        </td>
<%= link_to 'Edit', edit_service_path(@service), style: 'color:#FFFFFF;',:class => 'btn btn-primary' %>
<%= link_to 'Back', services_path, style: 'color:#FFFFFF;',:class => 'btn btn-primary' %>
