<h1>Details Service Nro <%= @Service.id %></h1>

<div class="jumbotron">
  <h1><%= @Service.dayFormat %></h1>
  <p>From: <%= @Service.from %></p>
  <p>To: <%= @Service.to %></p>
  <p>Customer: <%= @Service.customerName %></p>
</div>

<p>
  <%= link_to "Return list", pages_pending_services_path, class: :"btn btn-primary btn-lg" %>
</p>